* {
    box-sizing: border-box;
    margin: 0;
    font-family:"Segoe UI";
}

body {
    display: flex;
    flex-direction: column;
    background-color: rgb(231, 231, 231);
    color: rgb(0,0,0);
    min-height: 100%;
}

header {
    max-width: 450px;
    width: 100%;
    margin: 0 auto;
}

header h1 {
    font-size: 56px;
    font-weight: 300;
    margin-top: 10px;
}

 h2.today_tasks {
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 40px;
}

.main {
    display: block;
    margin: 0 auto;
    max-width: 60%;
}

.empty_list {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(255, 255, 255);
    padding: 20px 20px;
    margin-bottom: 10px;

}
.empty_list .empty_list_text {
    font-size: 25px;

}

.tasks {
    min-width: 200px;
    background-color: rgb(255, 255, 255)
}


.tasks_container {
    width: 500px;
    max-height: 230px;
    overflow:auto;
    background-color:rgb(231, 231, 231);
    position: relative;
}

.task_text {
    font-size: 20px;
}

.tasks_list_item button{
    appearance: none;
    outline: none;
    border: none;
    cursor: pointer;
    position: relative;
    z-index: 1;
}

.text_below_input {
    font-size: 10px;
}

.tasks_list_item {
    display: flex;
    justify-content: space-between;
    height: 50px;
    line-height: 50px;
    padding: 0 12px 0 20px;
    background-color: white;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    position: relative;
}

.active {
    display: block;
}
.hide {
    display: none;
}

.done_task {
    text-decoration: line-through;
}

.task_text.true {
    text-decoration: line-through;
}

.change_input {
    width: 75%;
    top: 25%;
    left: 0;
    padding-top: 10px;
    padding-bottom: 5px;
    position: absolute;
    z-index: 999999;
}

